<!DOCTYPE html>
<html>

<body style="font-family: 'Poppins', Helvetica, sans-serif; background:#f4f4f4; padding:20px; margin:0;">
    <table width="100%" cellpadding="0" cellspacing="0"
        style="max-width:600px;margin:auto;background:#fff;border-radius:8px;overflow:hidden;">
        <tr>
            <td style="padding:32px 28px;color:#333; text-align: left; font-size:15px; line-height:1.7;">

                <div style="text-align: center; margin: 0 0 24px;">
                    <img src="https://portal.garudahacks.com/assets/garudie-debugging.png" alt="Garudie with Laptop"
                        width="220" style="display:inline-block;" />
                </div>

                <p><strong>Are you ready for the most intense 30 hours of debugging, building, ideating, and making your
                        vision come true?!</strong></p>

                <p style="margin-bottom: 40px;">We want to remind you that the event is <strong>happening
                        tomorrow</strong>. We are so excited to see
                    what you will build at Garuda Hacks 7.0!</p>

                <p>There are a few more things you need to prepare before tomorrow.</p>

                <ol style="padding-left:20px; margin:20px 0;">
                    <li style="margin-bottom:18px;">
                        <strong>Last chance</strong> to <a href="https://bit.ly/4f0vAJn" target="_blank"
                            rel="noopener noreferrer" style="color:#5865F2;">register your MAC address</a>. Throughout
                        the event, there will be times when you are required to show proof of your submitted form, so make sure you don't miss it.
                    </li>
                    <li style="margin-bottom:18px;">
                        <strong>Please bring an identification card with you</strong>. It can be a national ID card, a
                        school ID, or a
                        government-issued/institution-issued ID. You will need to show it at the registration table.
                    </li>
                    <li style="margin-bottom:18px;">
                        When you arrived at UMN, <strong>proceed to Lobby B</strong> for registration, collect your
                        lanyard, and get some freebies from our
                        sponsors.
                    </li>
                    <li style="margin-bottom:18px;">
                        <strong>Read the</strong> <a
                            href="https://drive.google.com/drive/folders/1O2ZvkFDQ531FxtwpC3Td_kKjGS3LKwD2?usp=sharing"
                            style="color:#5865F2;" target="_blank" rel="noopener noreferrer"><strong>participant
                                handbook</strong></a>
                        carefully so you don't miss anything before or throughout the hackathon.
                    </li>
                    <li style="margin-bottom:18px;">
                        For overnight participants, pack your belongings, snacks, cushions, or any other essentials you
                        need for the nights.
                    </li>
                    <li style="margin-bottom:18px;">
                        Last but not least, prepare your body, get enough rest, and set your alarm so you don't get
                        there late tomorrow :D
                    </li>
                </ol>

                <p>We want to wish you good luck, and we hope you have an amazing experience at Garuda Hacks 7.0!</p>

                <p style="font-size: medium; margin-top: 40px; margin-bottom: 20px; font-style: italic;"><strong>Garuda Hacks 7.0, Secure Our Future~</strong></p>

                <div style="margin-top: 50px;">
                    <p>Regards,</p>
                    <p>GHQ</p>
                </div>

                <hr style="border:none; border-top:1px solid #f0f0f0; margin:28px 0;">
                <div style="color: #909090; font-size: 12px; line-height:1.6; text-align: center;">
                    <p>© 2026 Garuda Hacks. All rights reserved.</p>
                    <p>Visit our <a href="https://garudahacks.com" target="_blank" rel="noopener noreferrer"
                            style="color:#909090;">website</a> or contact <a href="mailto:heryan@garudahacks.com"
                            style="color:#909090;">support</a>.</p>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>